/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-card {
    margin-top: 20vh;
    background-color: white;
    width: 30vw;
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.login-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #4facfe;
    outline: none;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

.login-button {
    background-color: #4facfe;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #00b4fe;
}

@media screen and (max-width: 480px) {
    .login-card {
        padding: 20px;
    }

    .login-title {
        font-size: 20px;
    }

    .form-input {
        font-size: 12px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }
}
